@{
    ViewBag.Title = "Dashboard";
}
<div>
    <h1>Welcome Maria <i style="color:orange">☀</i> Today, you can be the hero for your family !</h1>
</div>
<div>
    <p>Dashboard Secure Sharing Legal Resources 75% of your digital asset are organized</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"><span class="sr-only">75% Complete</span></div>
    </div>
</div>