@{
    ViewBag.Title = "Dashboard";
}
<div class="pt-2">
    <h2>Welcome Maria ☀ Today, you can be the hero for your family!</h2>
</div>
<hr />
<div class="pt-4">
    <p>Dashboard Secure Sharing Legal Resources 75% of your digital asset are organized</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"><span class="sr-only">75% Complete</span></div>
    </div>
</div>
<div class="pt-3">
    @*<img src="~/img/dashboard_slider.png" width="100%" />*@
    <div class="row">
        <div class="col-12">
            <div id="carouselDashboard" class="carousel slide" data-ride="carousel" data-interval="">
                <ol class="carousel-indicators">
                    <li data-target="#carouselDashboard" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselDashboard" data-slide-to="1"></li>
                    <li data-target="#carouselDashboard" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner pb-5 pt-2">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-4 align-middle">
                                <div class="card bg-light" style="width: 18rem; margin: 0 auto;">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-3" style="margin: auto;">
                                                <img src="~/img/icon_mobil.png" />
                                            </div>
                                            <div class="col-9">
                                                <h5 class="card-title">Your Phone Unlock Code</h5>
                                                <p class="card-text">Your phone unlock code is an important asset you should share with the ones you care about</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 align-middle">
                                <div class="card bg-light" style="width: 18rem; margin: 0 auto;">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-3" style="margin: auto;">
                                                <img src="~/img/icon_pc.png" />
                                            </div>
                                            <div class="col-9">
                                                <h5 class="card-title">Your PC Password</h5>
                                                <p class="card-text">Update your PC passwort to grant your loved ones access to your computer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 align-middle">
                                <div class="card bg-light" style="width: 18rem; margin: 0 auto;">
                                    <div class="card-body">
                                        <h5 class="card-title">Your Patient Disposal</h5>
                                        <p class="card-text">Plan ahead by creating your patient disposal now – be the hero for your family</p>
                                    </div>
                                </div>
                            </div>
                        
                    
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-4 align-middle">
                                <div class="card" style="width: 18rem; margin: 0 auto;">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 align-middle">
                                <div class="card" style="width: 18rem; margin: 0 auto;">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 align-middle">
                                <div class="card" style="width: 18rem; margin: 0 auto;">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-4 align-middle">
                                <div class="card" style="width: 18rem; margin: 0 auto;">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 align-middle">
                                <div class="card" style="width: 18rem; margin: 0 auto;">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 align-middle">
                                <div class="card" style="width: 18rem; margin: 0 auto;">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pt-4">
    <img src="~/img/dashboard_accounts.png" width="100%" />
</div>

