@{
    ViewBag.Title = "My Receivers";
}

<div class="pt-2">
    <h2>Welcome Maria ☀ Here you add people you care about</h2>
</div>
<hr />

<div class="pt-4">
    <img src="~/img/secure_people.png" width="100%" />
</div>
<div class="pt-3">
    <img src="~/img/secure_groups.png" width="100%" />
</div>
