<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NineBarc - NineBarc</title>
    <link href="/Content/bootstrap.css" rel="stylesheet"/>
<link href="/Content/site.css" rel="stylesheet"/>

    <script src="/Scripts/modernizr-2.8.3.js"></script>

</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">NineBarc</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Home/Dashboard">Dashboard</a></li>
                    <li><a href="/Home/SecureSharing">Secure Sharing</a></li>
                    <li><a href="/Home/LegalResources">Legal Resources</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        


<div>
    <img src="/img/landingpage.png" width="100%"/>
</div>

        <hr />
        <footer>
            <p>&copy; 2020 - NineBarc</p>
        </footer>
    </div>

    <script src="/Scripts/jquery-3.4.1.js"></script>

    <script src="/Scripts/bootstrap.js"></script>

    
</body>
</html>
